@font-face {
    font-family: 'Franxurter Totally Medium';
    src: url('FranxurterTotallyMedium-gxwjp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Franxurter Totally Fat';
    src: url('FranxurterTotallyFat-X3G4Z.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.intro-text {
    font-family: 'Franxurter Totally Fat', sans-serif;
    font-size: 5.8em;
}